<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Failed</title>
    <!--<link rel="stylesheet" href="/vendors/normalize.css" />-->
    <!--<link rel="stylesheet" href="/vendors/skeleton.css" />-->
    <!--<link rel="stylesheet" href="/styles/stylesheet.css">-->

    <script type="text/javascript" src="/vendors/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-route.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

</head>
<body ng-app="myApp">

<div class="instructions">
    <div class="container">
        <h1 class="lead">Failed to login</h1>
    </div>
</div>
<p><a href="/#/login">Back to login</a></p>
</body>
</html>

