<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Marching Mountains</title>
    <meta name="og:title" content="Marching Mountains" />
    <meta name="fb:admins" content="100001106692168" />
    <meta name="og:image" content="http://marchingmountains.org/images/MarchingMountainsNoBG.png" />
    <meta name="og:type" content="non_profit" />
    <meta name="og:url" content="http://marchingmountains.org" />
    <meta name="og:site_name" content="Marching Mountains" />
    <meta name="og:locality" content="Minneapolis" />
    <meta name="og:region" content="MN" />
    <meta name="og:postal-code" content="55403" />
    <meta name="og:country-name" content="USA" />
    <meta name="og:email" content="ianfelton@marchingmountains.org" />
    <meta name="og:phone_number" content="+1-612-232-9677" />
    <meta name="google-site-verification" content="AeQ55zViroT-PDCy0NXhRIxCL8htQdhNG3n7tZgyy5Q" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css"/>
</head>

<body>
    <div class="container">
        <div id="app">{{ html|safe }}</div>
    </div> <!-- /container -->
    <script src="/js/vendor.js"></script>
    <script src="/js/vendor.bundle.js"></script>
    <script src="/js/bundle.js"></script>
    <noscript>
        <p>JavaScript is required for the web site.</p>
    </noscript> 
</body>
</html>
