<div class="content-wrapper">
    <h1>Marching Mountains Helps Children</h1>
    <h2>The role of band programs in public schools</h2>
    <p>
        For many children in Appalachia, the band programs in the public schools provide
        more than just an escape from the sometimes overwhelming poverty that accompanies
        certain pockets of Appalachia. Band means forming camaraderie and discipline, stimulating
        creative expression and emotional release and instilling a foundation for future
        development within groups. Band teaches discipline, teamwork, accountability, and
        responsibility.
    </p>
    <h2>Marching Mountains improves band programs in Appalachia</h2>
    <p>
        Marching Mountains&#39; network seeks to create a cooperation of passionate people
        inside of Appalachia as well as the support of those outside of the area who wish
        to see an improvement of one aspect of Appalachia.
    </p>
    <p>
        By improving the band programs in areas of Appalachia that suffer from extreme poverty,
        more children from those areas can benefit from the positive aspects of taking part
        in band.
    </p>
    <p>
        Some of these children who otherwise would not have the exposure to the rewards
        of taking part in band will go on to improve themselves and their lives as a direct
        result of the opportunities Marching Mountains's network creates.
    </p>
    <p>
        &nbsp;
    </p>
    <a href="#about">Project Home</a> | <a href="#discover-who">Previous</a> | <a href="#discover-areas">Next</a>
</div>
