<div class="content-wrapper">
    <h1>Areas Marching Mountains Helps</h1>
    <h2>Distressed Areas of Appalachia</h2>
    <p>
        The main focus of the network is distressed areas of Appalachia. If the strongest supporters and activists
        in Marching Mountains are within Appalachia, there is no doubt that the network
        can improve band programs in public schools in the distressed areas of Appalachia.
    </p>
    <h2>Appalachia as a whole</h2>
    <p>
        Appalachians know Appalachians. They understand each other best. Many areas of Appalachia
        aren't impoverished and are doing quite well economically.
    </p>
    <p>
        These parts of Appalachia can be the number one source of supporters for the Marching
        Mountains network. They can help their neighbors and help themselves by growing
        from the experiences had within the Marching Mountains network.
    </p>
    <h2>Other Areas</h2>
    <p>
        However, the bigger picture of Marching Mountains includes people from all over
        the country. The network includes people from outside of Appalachia. The network
        thrives by including the advice and perspective of band directors and parents from
        outside of Appalachia. By sharing the strategies and lessons that have proven successful,
        public school band programs in general can benefit.
    </p>
    <p>
        &nbsp;
    </p>
    <a href="#about">Project Home</a> | <a href="#discover-how">Previous</a>
</div>