<div class="content-wrapper">
    <h1>What Does Marching Mountains Do</h1>
    <h2>Project Goals</h2>
    <ul class="indent disc">
        <li>Create a network to supply public middle school and high school band programs in
            distressed counties of Appalachia with <a data-ui-sref="app.donate" title="donate a musical instrument">new and used supplies and instruments</a></li>
        <li>Improve the quality of band programs in distressed regions of Appalachia and Appalachia
            in general</li>
        <li>Highlight the uniqueness of Appalachia's culture and the genuiness of many of its
            people.</li>
    </ul>
    <h2>How to acheive the goals</h2>
    <h3>Moving beyond the association of &quot;Appalachia&quot; with &quot;poverty&quot;</h3>
    <p>
        Appalachia's people and geography are special and provide a deep
        cultural facet within the American landscape. While many people associate Appalachia with poverty, Marching Mountains wishes to transcend the notion
        of Appalachia being tied to poverty. By focusing on the uniqueness and genuine quality
        of Appalachian communities, Marching Mountains hopes to chip away at the cement
        that bonds the terms &quot;Appalachia&quot; and &quot;poverty&quot; together.
    </p>
    <h3>What is happening now?</h3>
    <p>
        Currently, Marching Mountains is recruiting a core-group of activists to help shape
        the network and build a foundation for its success. We are seeking people who are
        passionate about the goals of Marching Mountains and understand the purpose of the
        project and its message. If you are one of these people, <a href="mailto:donate@marchingmountains.org">email us</a>.
    </p>
    <h3>In the future</h3>
    <p>
        Going forward, the network will create forums and tools to allow band directors,
        parents and students to share ideas, resources and hold events with the intention
        of creating stronger, more successful and more community-centered school band programs.
    </p>
    <p>
        The network will decide what activities to pursue for the sake of bettering the
        public school band programs in Appalachia. The network of band directors, parents
        and students will continue to share ideas and resources and suggest tools to Marching
        Mountains to improve the online functions of the Marching Mountains network.
    </p>
    <p>
        Marching Mountains&#39; role in the project is to help build tools for the web site
        to enable the network to grow and communicate. In addition, Millions of Angels pursues
        grants, corporate sponsorship and donations to aid the public school band programs
        in distressed areas of Appalachia.
    </p>
    <p>
        &nbsp;
    </p>
    <a href="#about">Project Home</a> | <a href="#discover-who">Next</a>
</div>
