<div class="content-wrapper">

    <h1>Who is in Marching Mountains</h1>
    <h2>Everyone can help with Marching Mountains</h2>
    <p>
        There are a few things anyone can do to help Marching Mountains.
    </p>
    <ul class="indent disc">
        <li>Find instruments and musical supplies for the network. Read more about <a data-ui-sref="app.donate" title="Donate a musical instrument">donating instruments</a> and read the <adata-ui-sref="app.faq"  title="Frequently Asked Questions">Frequently Asked Questions</a>.</li>
        <li>Volunteer. Check out <a data-ui-sref="app.volunteer"  title="Volunteer">the volunteer page</a> for specific things to help with.</li>
        <li><a data-ui-sref="app.donate"  title="Donate a musical instrument">
            Donate a musical
            instrument or funds to the project.
        </a></li>
        <li>Talk to people about Marching Mountains. Tell them about the web site.</li>
        <li>If you know journalists, ask them to write about the project.</li>
    </ul>
    <h2>Key participants</h2>
    <p>
        <b>Band Directors in Appalachia</b> - Without a core group of band directors, the
        network can't function. Open up the lines of communication between each other. Currently,
        there is a <a href="http://www.facebook.com/home.php?#!/pages/Marching-Mountains/116921768323573"
                      title="Facebook">Facebook page</a> &nbsp;geared toward communicating ideas,
        resources and strategies about how to help the band programs in Appalachia. Join
        the group and begin discussing topics. Sharing knowledge and strategies and then
        taking action on them is the main way to improve the situation.
    </p>
    <p>
        <b>Band Directors outside of Appalachia</b> - Band directors outside Appalachia
        may have many more resources at their disposal, the same or possibly less. However,
        <a href="http://www.facebook.com/home.php?#!/pages/Marching-Mountains/116921768323573"
           title="Facebook">taking part in the discussion</a> not only helps others, but
        you may make discoveries that will help your own program.
    </p>
    <p>
        <b>Parents of children in band</b> - Talk with your child's band director about
        the Marching Mountains network and encourage them to participate. Without a strong
        network of as many band directors as possible the effects of the network will be
        dimished. You can also <a href="http://www.facebook.com/home.php?#!/pages/Marching-Mountains/116921768323573">take part in the discussion.</a> When teachers are encouraged by parents they
        feel appreciated and are more likely to try to do more.
    </p>
    <p>
        <b>Students in band</b> - You can also politely suggest the Marching Mountains network
        to your band directors. If your parents don't know about it, suggest it to them
        so that they may discuss it with your teacher.
    </p>
    <h2>Marching Mountains Board of Directors</h2>
    <p>Ian Felton - Founder, Executive Director
    </p>
    <p>
        Jennifer Buege - Senior Editor, MSP Communications
    </p>
    <p>
        Mary Graham - RN (retired)
    </p>
    <a href="#about">Project Home</a> | <a href="#discover-what">Previous</a> | <a href="#discover-how">Next</a>
</div>
