<div class="content-wrapper">
    <h1>Donate Musical Instruments</h1>
    <div class="batonContainer">
        <p>
            Donating a new or used musical instrument can change the life of a child in Appalachia.
        The Marching Mountains network needs musical instruments in good working condition.
        Watch a <a data-ui-sref="app.video" title="Appalachia documentary">video
            of musical instrument donations going to band programs in Appalachia</a> to learn more.
        You can also <a data-ui-sref="app.success">read success stories from donating musical instruments.</a>
        </p>
        <h2>Donating an instrument is easy and tax deductible</h2>
        <p>
            Contact us at <a href="mailto:donate@marchingmountains.org" title="Donate at marching mountains dot org">donate@marchingmountains.org</a>or call 612-232-9677 and we will guide you through
        donating your musical instrument to a worthy cause.
        </p>
        <p>
            Check out the <a data-ui-sref="app.faq">FAQ!</a> It has many answers to <a data-ui-sref="app.faq">questions about donating musical instruments</a>.
        </p>
        <h2>Examples of musical instruments we are looking for</h2>
        <p>
            Marching Mountains mainly seeks instruments for marching band and concert band.
        </p>
        <div>
            <fieldset>
                <legend>Instruments</legend>
                <ul>
                    <li>Trumpets</li>
                    <li>Saxophones</li>
                    <li>Trombones</li>
                    <li>Flutes</li>
                    <li>Clarinets</li>
                    <li>Snare Drums</li>
                    <li>French Horns</li>
                    <li>Tubas</li>
                    <li>Percussion</li>
                </ul>
            </fieldset>
        </div>
        <p>
            This list isn't exclusive so please contact us if you have any question about the
        instrument you want to donate.
        </p>
        <h3>Drop-Off Information</h3>
        <p>
            In the Twin Cities, please drop-off instruments in good-working condition:
        </p>

        <p>
            <a href="http://www.mmimports.com/">Midwest Musical Imports</a><br />
            2021 E. Hennepin Ave. Suite 374<br />
            Minneapolis, MN 55413
        </p>
        <p>
            Local:&nbsp;(612) 331-4717<br />
            Toll Free:&nbsp;(800) 926-5587<br />
            Fax: (612) 331-4718
        </p>
        <p>Hours: 9am-5pm Monday-Friday – 10am-2pm Saturday</p>
        <h3>Pickup Information</h3>
        <p>
            Through our network, we can pickup instruments in several areas. If your area isn't
        listed, please contact us about shipping it to our nearest location to you.
        </p>
        <div>
            <fieldset>
                <legend>Locations</legend>
                <ul>
                    <li>Minneapolis, Minnesota</li>
                    <li>St. Paul, Minnesota</li>
                    <li>Morgantown, West Virginia</li>
                </ul>
            </fieldset>
        </div>
        <h3>Shipping Information</h3>
        <p>
            Please ship instruments, musical supplies and donations to:<br />
            Marching Mountains<br />
            1449 Andmore Ave.<br />
            Morgantown, WV 26505
        </p>
        <h2>Pianos</h2>
        <p>
            Unfortunately, we cannot accept piano donations. If you are in the Twin Cities
        of Minneapolis and St. Paul, Minnesota or Chicago, Illinois, please visit <a href="http://keys44kids.com">Keys 4/4 Kids</a>.
        </p>
    </div>
</div>
