<div class="col-md-12">
  <h3>Press</h3>
  <ul>
    <li><a data-ui-sref="app.news.two">Donating Musical Instruments Changes Children’s Lives</a></li>
    <li><a href="http://dotnetrocks.com/default.aspx?showNum=804" target="_blank">Interview on Dot Net Rocks | How Marching Mountains Uses Technology</a></li>
    <li><a href="http://technologyandfriends.com/SubText/archive/2012/10/22/tf235.aspx" target="_blank">Interview on Technology and Friends | How Marching Mountains Uses Technology</a></li>
    <li><a data-ui-sref="app.news.one">School Kids in Distressed Appalachian Counties Receive Donated Band Instruments</a>                    </li>
    <li><a href="http://www.huffingtonpost.com/2010/09/02/post_509_n_704029.html" target="_blank">Marching Mountains on HuffingtonPost</a>  </li>
  </ul>
</div>
<p class="text-center"><strong><em>Marching Mountains is a 501(c)(3), tax-deductible organization.</em></strong></p>
