<div ng-controller="HeaderController">
  <div class="col-md-2 col-md-offset-1 logotop">
    <a href="/" title="home"><img src="/img/MarchingMountainsLogo2.png" alt="Marching Mountains Logo" class="logo"/></a>
  </div>

  <div class="col-md-6 navContainer" id="menubarContainer" layout="row" ng-cloak>
    <md-toolbar class="md-menu-toolbar">
      <div layout="row" class="navigation">
        <div>
          <md-menu-bar>
            <md-menu>
              <button ng-click="$mdOpenMenu()">ABOUT</button>
              <md-menu-content>
                <md-menu-item><md-button href="#home" class="nav">Home</md-button></md-menu-item>
                <md-menu-item><md-button href="#about" class="nav">About Marching Mountains</md-button></md-menu-item>
                <md-menu-item><md-button href="#faq" class="nav">FAQ</md-button></md-menu-item>
                <md-menu-item><md-button href="#donate-instrument" class="nav">How To Donate</md-button></md-menu-item>
                <md-menu-item><md-button href="#band-directors" class="nav">Band Director Info</md-button></md-menu-item>
                <md-menu-item><md-button href="#press" class="nav">Press</md-button></md-menu-item>
                <md-menu-item><md-button href="#stories" class="nav">Stories</md-button></md-menu-item>
                <md-menu-item><md-button href="#contact" class="nav">Contact</md-button></md-menu-item>
              </md-menu-content>
            </md-menu>

            <md-menu>
              <button ng-click="$mdOpenMenu()">INSTRUMENTS</button>
              <md-menu-content>

                <md-menu-item><md-button href="#donors" class="nav">Donate</md-button></md-menu-item>
                <md-menu-item ng-if="isLoggedIn == false"><md-button href="#band-directors" class="nav">Request</md-button></md-menu-item>
                <md-menu-item ng-if="isLoggedIn"><md-button href="#my-schools" class="nav">Request</md-button></md-menu-item>

              </md-menu-content>
            </md-menu>

            <md-menu>
              <button ng-click="$mdOpenMenu()">SUPPORT</button>
              <md-menu-content>

                <md-menu-item><md-button href="https://givemn.org/organization/Marching-Mountains" target="_blank" class="nav">Donate Funds</md-button></md-menu-item>

              </md-menu-content>
            </md-menu>

          </md-menu-bar>
        </div>
      </div>
    </md-toolbar>
  </div>

  <div class="col-md-3" ng-if="isLoggedIn === false">
    <md-button ng-click="openModal($event)" class="login">Login / Register</md-button>
  </div>

  <div class="col-md-3 login" ng-if="isLoggedIn === true" id="menubarContainer" layout="row" ng-cloak>
    <md-toolbar class="md-menu-toolbar">
      <div layout="row">
        <div>
          <md-menu-bar>
            <md-menu>

              <button ng-click="$mdOpenMenu()">Welcome,
                <span ng-if="first_name != ''">{{first_name}}</span>
                <span ng-if="first_name === ''">{{user_name}}</span>
              </button>

              <md-menu-content>
                <md-menu-item><md-button href="#account" class="nav">Edit Account Information</md-button></md-menu-item>
                <md-menu-item><md-button ng-click=logOut() class="nav"><a href="/logout">Log Out</a></md-button></md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-menu-bar>
        </div>
      </div>
    </md-toolbar>
  </div>
  <div class="col-md-1"></div>
</div>