<div class="col-md-4">
  <a href="/" title="home"><img src="/img/MarchingMountainsLogo.png" alt="Marching Mountains Logo" /></a>
</div>

<div ng-controller="ModalController" class="col-md-8">
  <md-content>
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="#home" title="home">Home</a></li>
        <li role="presentation"><a href="#about" title="about">About</a></li>
        <li role="presentation"><a href="#faq" title="Frequently asked questions">FAQ</a></li>
        <li role="presentation"><a href="#donate-instrument" title="Donate a musical instrument">Donate a musical instrument</a></li>
        <li role="presentation"><a href="#school-search" title="School Search">School Search</a></li>
        <li role="presentation"><a href="#contact" title="Contact Marching Mountains">Contact</a></li>
        <li role="presentation"><a href="#band-directors" title="For Band Directors">Band Directors</a></li>
        <li role="presentation"><md-button ng-click="openModal($event)" title="Logging In">LogIn / Register</md-button></li>
        <li role="presentation"><md-button ng-click="logOut()" title="Logging Out">LogOut</md-button></li>
        <li role="presentation"><a href="https://givemn.org/organization/Marching-Mountains" target="_blank"><img src="/img/donate.png" alt="Help Marching Mountains - Get Kids Musical Instruments | GiveMN" /></a></li>

      </ul>
    </nav>
  </md-content>
</div>

