<div ng-controller="HeaderController">
  <div class="col-md-4">
    <a href="/" title="home"><img src="/img/MarchingMountainsLogo.png" alt="Marching Mountains Logo" /></a>
  </div>

  <div class="col-md-6" id="menubarContainer" layout="row" ng-cloak>
    <md-toolbar class="md-menu-toolbar">
      <div layout="row">
        <div>
          <md-menu-bar>
            <md-menu>
              <button ng-click="$mdOpenMenu()">ABOUT</button>
              <md-menu-content>
                <md-menu-item><md-button href="#home">Home</md-button></md-menu-item>
                <md-menu-item><md-button href="#about">About Marching Mountains</md-button></md-menu-item>
                <md-menu-item><md-button href="#faq">FAQ</md-button></md-menu-item>
                <md-menu-item><md-button href="#donate-instrument">How To Donate</md-button></md-menu-item>
                <md-menu-item><md-button href="#band-directors">Band Director Info</md-button></md-menu-item>
                <md-menu-item><md-button href="#contact">Contact</md-button></md-menu-item>
              </md-menu-content>
            </md-menu>

            <md-menu>
              <button ng-click="$mdOpenMenu()">INSTRUMENTS</button>
              <md-menu-content>

                <md-menu-item><md-button href="#donors">Donate</md-button></md-menu-item>
                <md-menu-item ng-if="isLoggedIn == false"><md-button href="#band-directors">Request</md-button></md-menu-item>
                <md-menu-item ng-if="isLoggedIn"><md-button href="#my-schools">Request</md-button></md-menu-item>

              </md-menu-content>
            </md-menu>

            <md-menu>
              <button ng-click="$mdOpenMenu()">SUPPORT</button>
              <md-menu-content>

                <md-menu-item><md-button href="https://givemn.org/organization/Marching-Mountains" target="_blank">Donate Funds</md-button></md-menu-item>

              </md-menu-content>
            </md-menu>

          </md-menu-bar>
        </div>
      </div>
    </md-toolbar>
  </div>

  <div class="col-md-2" ng-if="isLoggedIn == false">
    <md-button ng-click="openModal($event)" class="login">Login / Register</md-button>
  </div>

  <div class="col-md-2" ng-if="isLoggedIn == true" id="menubarContainer" layout="row" ng-cloak>
    <md-toolbar class="md-menu-toolbar">
      <div layout="row">
        <div>
          <md-menu-bar>
            <md-menu>

              <button ng-click="$mdOpenMenu()">Welcome, {{displayedUser}}</button>

              <md-menu-content>
                <md-menu-item><md-button href="#account">Edit Account Information</md-button></md-menu-item>
                <md-menu-item><md-button ng-click=logOut()><a href="/logout">Log Out</a></md-button></md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-menu-bar>
        </div>
      </div>
    </md-toolbar>
  </div>
  <!--<div class="col-md-2">-->
    <!--<a href="https://givemn.org/organization/Marching-Mountains" target="_blank">-->
      <!--<img src="/img/donate.png" alt="Help Marching Mountains - Get Kids Musical Instruments | GiveMN" /></a>-->
  <!--</div>-->


</div>