<div class="jumbotron">
  <hrgroup>
    <h1 class="text-center">Helping band programs in Appalachia and Minnesota</h1>
  </hrgroup>
  <p class="lead">Marching Mountains' goal is to create a network to supply public school band programs in distressed areas of Appalachia and Minnesota with donated new and used musical instruments.</p>
  <!-- <p><a class="btn btn-lg btn-success" title="Donate a musical instrument" data-ui-sref="app.donate" role="button">Donate a musical instrument</a></p> -->

  <h3 class="text-center margin-top">What type of instrument would you like to donate?</h3>
  <div class="autocompletedemoBasicUsage">
    <md-content class="md-padding">
      <form ng-submit="$event.preventDefault()" class="home-form center text-center">
        <md-autocomplete
          md-selected-item="selectedItem"
          md-search-text-change="searchTextChange(searchText)"
          md-search-text="searchText"
          md-selected-item-change="selectedItemChange(item.instrument)"
          md-items="item in instruments | filter:searchText"
          md-item-text="item.instrument"
          md-min-length="0"
          placeholder="Choose an instrument to donate">
          <md-item-template>
            <span md-highlight-text="searchText" md-highlight-flags="^i" class="text-center">{{item.instrument}}</span>
          </md-item-template>
        </md-autocomplete>
        <md-button ng-click="indexSearchSchool(selectedItem)" class="margin-top">Search for schools</md-button>
      </form>
    </md-content>
  </div>

</div>

<div class="row marketing">
  <div class="col-md-6">

    <h2>Donate a Musical Instrument</h2>
    <p><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Do you have an instrument at home not being used? Learn how to <a data-ui-sref="app.donate">donate a musical instrument</a> and change a child's life. (Marching Mountains is a 501(c)(3), tax-deductible organization.)</p>

    <h2>Donate Money</h2>
    <p><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Each instrument costs $25 - $50 to ship to schools. Please <a href="https://givemn.org/organization/Marching-Mountains">donate money</a> to help. (Marching Mountains is a 501(c)(3), tax-deductible organization.)</p>

    <h2>Success Stories</h2>
    <p><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <a data-ui-sref="app.success">Read success stories about people donating musical instruments.</a></p>

    <h2>Vision</h2>
    <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> <a data-ui-sref="app.project">Learn more about Marching Mountains' vison</a> and mission.</p>
  </div>

  <div class="col-md-6">
    <h2>Band Directors</h2>
    <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> We have provided over 500 years of band to students. If you are a band director of a public school band program in Appalachia or Minnesota, <a data-ui-sref="app.banddirectors">be a part of Marching Mountains.</a></p>

    <h2>Watch Videos</h2>
    <p><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Learn more about what Marching Mountains does with instrument donations by watching <a data-ui-sref="app.video">videos</a></p>

    <h2>Volunteer</h2>
    <p><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Do you want to help? Put your heart into something meaningful by <a data-ui-sref="app.volunteer">volunteering</a></p>

    <h2>Our Annual Reports</h2>
    <p><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Each year we release an <a data-ui-sref="app.reports">annual report</a> to update those interested in the project.</p>
  </div>
</div>
