<h1>Hello World</h1>
<ang-accordion one-at-a-time="true">
    <collapsible-item item-title="School 1" initially-open="true">
        <div>
            <h2>Hello School 1</h2>
            <p>BlahBlahBlah</p>
        </div>
    </collapsible-item>
    <collapsible-item item-title="School 2">
        <div>
            <h2>Hello School 2</h2>
            <p>BlahBlahBlah</p>
        </div>
    </collapsible-item>
    <collapsible-item item-title="School 3">
        <div>
            <h2>Hello School 3</h2>
            <p>BlahBlahBlah</p>
        </div>
    </collapsible-item>
</ang-accordion>