<div class="content-wrapper">
    <h1>School Kids in Distressed Appalachian Counties Receive Donated Band Instruments</h1>
    <p>
        <img src="/img/giving-donated-instruments.png" alt="Ian Felton of Marching Mountains donating a trumpet" class="photo-left" /><i>Minneapolis, Minnesota - September 1, 2010</i> - Marching
        Mountains recently distributed new and used instruments to seven schools in distressed
        regions of Appalachia.
    </p>
    <p>
        “There’s a great need in our area for instruments and Marching Mountains is fulfilling
        that need,” said Jeanette Oldaker, Band Instructor for Harts Middle School in Harts,
        WV. Jeanette Oldaker is one of many band directors that received an instrument from
        Marching Mountains in August.
    </p>
    <p>
        As part of the instrument distribution, Ian Felton, Executive Director of Marching
        Mountains, visited several schools in person and created a documentary to introduce
        donors to the areas they are helping.
    </p>
    <p>
        “We’ve had donors from all over the country: Minneapolis, Seattle, Cleveland and
        Pittsburgh. We want to show them that the instruments they provide make a difference
        to the programs that receive them,” says Ian Felton.
    </p>
    <p>
        “The video was a good testimony to the need for instruments in that area of our
        country. Thanks for all you are doing to help those kids and their school band programs!”
        wrote an instrument donor from the Twin Cities.
    </p>
    <p>
        Other schools that received instruments were: Sheldon Clark High School in Inez,
        KY, Calhoun County Middle/High School in Mt. Zion, WV, Burchfield School in Oneida,
        TN, Winfield School in Winfield, TN, Fairview School in Huntsville, TN and Hale
        County High School in Moundville, AL.
    </p>
    <p>
        Earlier in the year, Marching Mountains sent letters to band directors throughout
        distressed regions of Appalachia. Band Directors that took part in the project were
        asked to submit a list of most needed instruments. In August, donated instruments
        were matched with directors’ lists of needs.
    </p>
    <p>
        Marching Mountains can be found on the web at <a href="http://marchingmountains.org"
                                                         title="Marching Mountains">http://marchingmountains.org</a>
    </p>
    <p>
        Those who want to help these band programs are encouraged to <a href="#donate-instrument"
                                                                        title="Donate a musical instrument">donate new or used musical instruments</a>.
    </p>
    <p>
        The video can be seen on YouTube at <a href="http://www.youtube.com/watch?v=HeOUh2NRQdQ"
                                               title="You tube clip of Marching Mountains">http://www.youtube.com/watch?v=HeOUh2NRQdQ</a>
    </p>
    <p>
        ###
    </p>

</div>
