<div layout="row" layout-align="center" ng-cloak class="md-inline-form">
    <md-content layout-padding>
        <div>
        <form name="registerForm" novalidate ng-submit="register(registerForm.$valid)">
            <div layout-lg="row">
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input type="email" name="username" required ng-model="username"
                           minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                    <div ng-messages="register.$error" role="alert">
                        <div ng-message="required">
                            Your email must be between 10 and 100 characters long and look like an e-mail address.
                        </div>
                        <div ng-message-exp="['minlength', 'maxlength', 'pattern']">
                            Your email must be between 10 and 100 characters long and look like an e-mail address.
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout-lg="row">
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input type="password" name="password" required ng-model="password"
                           minlength="4" maxlength="50" />
                    <div ng-messages="register.$error" role="alert">
                        <div ng-message="required">
                            Your password must be between 4 and 50 characters long.
                        </div>
                        <div ng-message-exp="['minlength', 'maxlength']">
                            Your password must be between 4 and 50 characters long.
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout-lg="row">
                <md-input-container class="md-block">
                    <label>Password Confirm</label>
                    <input type="password_confirm" name="password_confirm" required ng-model="password_confirm"
                           wj-validation-error="password != password_confirm ? 'Passwords don\'t match' : ''" />
                    <div ng-show="registerForm.password_confirm.$error.wjValidationError && !registerForm.password_confirm.$pristine">
                        Sorry, the passwords don't match.
                    </div>
                </md-input-container>
            </div><br />
            <div layout-lg="row">
                <p><md-button type="submit" class="md-raised md-primary" ng-disabled="register.$invalid">Register</md-button></p>
            </div>
            </form>
        </div>
    </md-content>
</div>
