<div class="content-wrapper"  ng-show="selectedSchoolInfo">
  <h2>{{selectedSchoolInfo.school_name}}</h2>
  <ul>
    <li>
      Address:
      <ul>
        <li>
          {{selectedSchoolInfo.address_line1}}
        </li>
        <li ng-show="selectedSchoolInfo.address_line2">
          {{selectedSchoolInfo.address_line2}}
        </li>
        <li>
          {{selectedSchoolInfo.city}}, {{selectedSchoolInfo.state_name}} {{selectedSchoolInfo.zip}}
        </li>
      </ul>
    </li>
    <li>
      Number: {{selectedSchoolInfo.phone | tel}}
    </li>
    <li>
      Website: <a href="{{selectedSchoolInfo.website}}" target="_blank">{{selectedSchoolInfo.website}}</a>
    </li>
  </ul>
  <md-divider></md-divider>
  <h4>Received Donations</h4>
  <ul ng-repeat="donation in selectedSchoolDonations">
    <li ng-show="donation.donation_received">
      {{donation.instrument}} - {{donation.date | date:'M/d/yyyy'}}
    </li>
  </ul>
  <p ng-show="!selectedSchoolDonations[0]">
    This school has no donations at this time.
  </p>
  <md-button ng-click="returnToSearchResults()" class="margin-top">Return to search results</md-button>
  <md-button ng-click="donateNowModal($event)" class="margin-top">Donate Now</md-button>
</div>
