<div class="content-wrapper">
  <h3>What type of instrument would you like to donate?</h3>
  <div class="autocompletedemoBasicUsage">
    <md-content class="md-padding">
      <form ng-submit="$event.preventDefault()">
        <md-autocomplete
          md-selected-item="selectedItem"
          md-search-text-change="searchTextChange(searchText)"
          md-search-text="searchText"
          md-selected-item-change="selectedItemChange(item)"
          md-items="item in instrument | filter:searchText"
          md-item-text="item"
          md-min-length="0"
          placeholder="Choose an instrument to donate">
          <md-item-template>
            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item}}</span>
          </md-item-template>
        </md-autocomplete>
        <md-button ng-click="searchSchool(selectedItem)">Search for schools</md-button>
      </form>
    </md-content>
  </div>
</div>
