<div class="content-wrapper">
  <h2>{{selectedSchoolInfo.school_name}}</h2>
  <ul>
    <li>
      Address:
      <ul>
        <li>
          {{selectedSchoolInfo.address_line1}}
        </li>
        <li ng-show="selectedSchoolInfo.address_line2">
          {{selectedSchoolInfo.address_line2}}
        </li>
        <li>
          {{selectedSchoolInfo.city}}, {{selectedSchoolInfo.state_id}} {{selectedSchoolInfo.zip}}
        </li>
      </ul>
    </li>
    <li>
      Number: {{selectedSchoolInfo.phone | tel}}
    </li>
    <li>
      Website: <a href="{{selectedSchoolInfo.website}}">{{selectedSchoolInfo.website}}</a>
    </li>
  </ul>
  <md-divider></md-divider>
  <h4>Received Donations</h4>
  <!-- Ul shows only if a donation is present. ngRepeat = Placeholder for donations -->
  <!-- <ul ng-show="!selectedSchoolInfo.donation_received" ng-repeat="donation in selectedSchoolInfo.list"> -->
  <ul>
    <li>
      <!-- {{selectedSchoolInfo.instrument_id}} - {{selectedSchoolInfo.date}} -->
    </li>
  </ul>
  <!-- Shows only if no donation and hides if donation is there for school -->
  <!-- <p ng-hide="selectedSchoolInfo.donation_received">
    No donations at this time
  </p> -->
  <md-divider></md-divider>
  <md-button ng-click="returnToSearchResults()">Return to search results</md-button>
  <md-button ng-click="donateNowModal($event)">Donate Now</md-button>
</div>
