<div class="content-wrapper">
  <h3>What type of instrument would you like to donate?</h3>
  <div class="autocompletedemoBasicUsage">
    <md-content>
      <form ng-submit="$event.preventDefault()">
        <div layout-gt-sm="row" class="schoolSearch">
          <md-autocomplete
            md-selected-item="selectedItem"
            md-search-text-change="searchTextChange(searchText)"
            md-search-text="searchText"
            md-selected-item-change="selectedItemChange(item.instrument)"
            md-items="item in instruments | filter:searchText"
            md-item-text="item.instrument"
            md-min-length="0"
            md-floating-label="Choose an instrument to donate"
            class="md-block" flex-gt-sm>
            <md-item-template>
              <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.instrument}}</span>
            </md-item-template>
          </md-autocomplete>
          <md-button ng-click="searchSchool(selectedItem.instrument, selectedItem.instrument_id)">Search for schools</md-button>
        </div>
      </form>
    </md-content>
  </div>
  <div>
    <h4 ng-show="selectedInstrument">Schools in need of a {{selectedInstrument}}</h4>
    <h5 ng-show="selectedInstrument && !schoolSearchResults[0].school_id">No schools are in need of a {{selectedInstrument}} at this time</h5>
    <ang-accordion one-at-a-time="true" ng-repeat="school in schoolSearchResults">
      <collapsible-item item-title="{{school.school_name}}">
        <div>
          <ul>
            <li>
              Location: {{school.city}}, {{school.state}}
            </li>
            <li>
              Website: <a href="{{school.website}}" target="_blank">{{school.website}}</a>
            </li>
            <li>
              <md-button ng-click="goToSchoolPage(school)">More Info</md-button>
              <md-button ng-click="donateNowModal(school, $event)">Donate Now</md-button>
            </li>
          </ul>
        </div>
      </collapsible-item>
    </ang-accordion>
  </div>
</div>
