<div class="content-wrapper">
    <h2>Letter from a Band Director About the Effects of Donating Musical Instruments to Marching Mountains</h2>
    <p><img src="/img/quote.gif" />Dear Marching Mountains,</p>

    <p>I just wanted you to know that I'm the band director in West Virginia (of the student who received the instrument from Marching Mountains). I had never heard of your organization until this morning. (The student) started band with her elementary director and so I didn't know what she was talking about when she said she had received an instrument "from a place that gives kids instruments".</p>

    <p>When (the student) said her trumpet was coming in the mail to me, I assumed it was the same program. When I read your letter I sat at my desk and cried for a good half hour.</p>

    <p>I had no idea such a thing even existed. My school is in a fairly poor area as you can imagine. It's not the worst, but it's not the best either. I grew up here. I actually didn't do band all through school because I knew my parents would never be able to afford an instrument. Instead I took piano lessons from a lady a town over who gave lessons for $2 an hour. I ended up falling in love with music and went to college on a full ride scholarship.</p>

    <p>When I got this band job I had no idea what I was going to do with it. I walked into a mouse infested outbuilding that was my classroom with instruments that a former principal had bought at an army surplus auction trying to help the previous band director out. He literally loaded up a dump truck with every instrument he could buy and dumped them out in front of her classroom for her to sort.</p>

    <p>When I got the job, there were still cases that hadn't been opened because there were no keys.</p>

    <p>Long story short, I have a lot of instruments, but most of them are in need of major overhauls or were so smashed and broken that I had to throw them out or use them for parts. I had one poor mellophone that was nearly smashed completely flat...</p>

    <p>But! My band program continues to grow despite all this. We did finally get a new school this past year. My classroom is wonderful and I was so glad to finally get a clean space that had... well... SPACE.</p>

    <p>This year my 7th and 8th grade band is up to 47 and my beginning 6th grade band has 26. I have over half of our middle school students as band members.</p>

    <p>I was doing instrument rentals this week and I kept opening cases and seeing instruments that are going to need to go back to the shop or that I forgot I was keeping for parts. So the last two days I've been trying to figure out what to do about getting some new instruments. Last year I literally had Bandland piece a clarinet together for me out of the parts of 3 instruments so one of my kids could have a working instrument.</p>

    <p>When I got your letter this morning, it was like hope had dawned. lol. I hate to sound so dramatic, but you have no idea how much I've prayed over the last two days for God to show me how to manage this. (Because our 20 something year old uniforms are in desperate need of replacing as well...)</p>

    <p>I know it might be a slow process to get everything I would LIKE to have... but I was so happy to see that there's a way to do it without putting my kids and their families under more financial strain with fundraisers.</p>

    <p>I just wanted to thank you for the organization and let you know that you've made two little girls and one band director extremely happy today. :) (The student) has been asking every day if her instrument had come. she came in first thing this morning to see if it was here and today it was. :)</p>

    <p>Thank you very much. I hope I haven't taken up too much of your time. I just wanted to share this with you.</p>

    <p>Sincerely,</p>

    <p>(Band Director of a middle school in West Virginia)
        <img src="/img/unquote.gif" /></p>
</div>