<div>
    <h1>Sucess Stories</h1>
    <div class="batonContainer">
        <p>
            Donating musical instruments has a real and profound effect on the lives of the students
            who receive them. If you have any question about the real impact that donating musical
            instruments has, please read the following success stories from band directors whose
            programs have received instruments through Marching Mountains from potential donors
            like you.
        </p>
        <h2>Inez, Kentucky</h2>
        <p>
            <em>The Alto saxophone that was donated last year, we put that in the hands of a beginning
                band student who just wasn't able to afford an instrument or even able to afford
                to rent an instrument. We put that in the hands of a student and they have continued
                on with band on alto saxophone, the same alto saxophone. It's worked out so well.
                The student really loves band and are really passionate about it. They are already
                talking about joining the marching band next year in high school and are really
                excited about it. We are thrilled about that. If it had not been for this saxophone
                this kid may not have continued on with band. - Mr. Sean Coughlin, Sheldon Clark</em>
            High School.
        </p>
        <h2>Upper Glade, West Virginia</h2>
        <p>
            <em>I have one student who has started with the clarinet for concert season. The other
                will go to a beginning band student at one of my feeder schools. Again I thank you
                and whoever donated the instruments. It is always great to see them placed into
                the hands of excited students. Mr. Jonathan Oates - Webster County High School</em>
        </p>
        <h2>Harts, West Virginia</h2>
        <p>
            <em>I appreciated the trombone very much and so does the student using it. I really
                think that Marching Mountains is such a God send to those teachers who need instruments
                for their students who cannot afford one. Thank you so much for the job you do and
                God Bless you. You are changing the lives of Appalachian children one instrument
                at a time. - Ms. Jeanette Oldaker, Harts pk-8 intermediate division</em>
        </p>
        <h2>Moundville, Alabama</h2>
        <p><em>Thank you. Students are thrilled. - Mr. Bob Sheehan, Hale County High School Band</em></p>
    </div>
</div>
