<div>
    <div class="batonContainer left">
        <h2>Marching Mountains Musical Instrument Distributions in Appalachia</h2>
        <p class="margin-top">
            In October, 2015, Marching Mountains donated 11 instruments to South Preston Middle School in Tunnelton, WV. The instruments included 7 flutes, 2 clarinets, a saxophone and a trumpet. Marching Mountains also donated music stands and sheet music to the band program.
            This video also shows the beautiful hills of West Virginia near the school where the instruments were donated.
        </p>

        <div id="Content1">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1Ju1ZyME8ZY" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="batonContainer left">
        <p class="margin-top">
            In September 2011, Marching Mountains distributed 25 instruments to 14 schools in
            distressed counties of Appalachia. The video displays an interview between Mr. Sean Coughlin, Band Director of Sheldon
            Clark High School in Inez, Kentucky, and Ian Felton, founder of Marching Mountains. Mr. Coughlin emphasizes the importance of <a href="#donate-instrument" title="donate a musical instrument">
            donating musical instruments</a> and the benefit to the children who receive them.
        </p>
        <div id="Content1">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/HeOUh2NRQdQ" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>



    <div class="batonContainer left">
        <p class="margin-top">
            This video details our trip through several distressed regions in Appalachia to
            distribute <a href="#donate-instrument" title="donate a musical instrument">
            musical instrument donations</a>. We interview several band directors and get
            their feedback about the importance of receiving donated musical instruments for
            the children in their area.
        </p>
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DZpJ4KHC_HU" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>