<div>
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Volunteer with Marching Mountains</h1>
                <h2>An opportunity to find meaning.</h2>
            </hgroup>
            <p>
                With your help, there will be more kids participating in band
            </p>
        </div>
    </section>
    <div class="content-wrapper">
        <div id="volDiv"></div>
        <h2>Yes, we need your help</h2>
        <p>We need help in the following areas. Email <a href="mailto:donate@marchingmountains.org" title="Email to Volunteer">donate@marchingmountains.org</a> to help.</p>
        <h3>Vital Volunteers</h3>
        <p>The following positions are vital to the network. These are roles that anyone with the drive to help can perform. Without volunteers in these roles, the network can't succeed.</p>
        <ul class="indent disc">
            <li>
                <b>Instrument Finders</b> - This is the most important volunteer position and one that even young students can perform. Instrument finders do just that. They seek out and find instrument and musical supply donations for the network. These instruments and supplies are delivered to distressed band programs in Appalachia.
            </li>
            <li>
                <b>Outreach</b> - We need people to reach out to band directors across America and in local communities and get them involved in the network.
            </li>
            <li>
                <b>Research</b> - We need information in order to make a successful network grow. Research volunteers gather data from the Internet or from people and keep the network heading in the right direction.
            </li>
        </ul>

        <h2>Other skills that we may need at any given time</h2>
        <ul class="indent disc">
            <li>
                <b>Fundraising</b>
            </li>
            <li>
                <b>Grant Writing</b>
            </li>
            <li>
                <b>ASP.Net programming</b>
            </li>
            <li>
                <b>Web graphic design</b>
            </li>
            <li>
                <b>Business management</b>
            </li>
            <li>
                <b>Legal</b>
            </li>
            <li>
                <b>Internet promotion</b>
            </li>
            <li>
                <b>Administrative</b>
            </li>
        </ul>
        <p>Email <a href="mailto:donate@marchingmountains.org" class="text" title="Email to volunteer">donate@marchingmountains.org</a></p>
    </div>
</div>
