.message {
    color: #880000;
}

.donateModal {
  margin:2em;
  max-width: 25em;
}

.donateModal h2 {
  text-align: center;
  margin: 0 0 1em 0;
}

.donorNote {
  width: 25em;
  margin: 3em 0 0 0;
}

.modalButtons {
  text-align: center
}

.schoolSearch {
  margin: 2em 0 2em 0;
  height: 3em;
  overflow-y: hidden;
}

.chipsdemoCustomInputs md-content.autocomplete {
  min-height: 200px; }

.chipsdemoCustomInputs input[type=number] {
  width: 110px; }

.chipsdemoCustomInputs .veggie-option {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 8px; }

.chipsdemoCustomInputs .veggie-option .md-item-text {
  padding: 8px;
  background: #f0f0f0;
  border-radius: 3px; }

.chipsdemoCustomInputs .veggie-option .md-item-text h3,
.chipsdemoCustomInputs .veggie-option .md-item-text p {
  padding: 0;
  margin: 0; }