* {
  margin: 0;
}

body {
  background: url("/img/mountains-background.jpg") center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin-bottom: 1em;
}

a {
  color: #354581;
}

.blue-button {
  background-color: rgb(222, 231, 235);
}


#wrap {
  flex: 1;
}

#header {
  background: rgba(250, 245, 245, 0.7);
}

#footer {
  background: rgba(36,60,86,0.7);
  margin-top: 3em;
}

.footer-text {
  margin-top: 1.1em;
  font: 1.1em 'Abel', sans-serif;
  color: #8c8c8c;
}

.container {
  margin-top: 3em;
  background: rgba(255, 255, 255, 0.7);
  padding: 3em 3em;
  border-radius: 1em;
}

.message {
    color: #880000;
}

.donateModal {
  margin: 2em;
  max-width: 25em;
}

.donateModal h2 {
  text-align: center;
  margin: 0 0 1em 0;
}

.donorNote {
  width: 25em;
  margin: 3em 0 0 0;
}

.modalButtons {
  text-align: center
}

.schoolSearch {
  margin: 2em 0 2em 0;
  height: 3em;
  overflow-y: hidden;
}

.loginModal {
  min-width: 300px;
}

.logo {
  margin: .9em 0 1.3em .7em;
}

.logotop {
  z-index: 2;
}

.navContainer {
  margin-top: 1.4em;
  display: flex;
  z-index: 1;
}

.navigation {
  margin: auto;
}

.login {
  margin-top: 2.1em;
  /*margin-right: 1em;*/
  text-align: right;
  font: 1.2em 'Abel', sans-serif;
}

md-toolbar.md-default-theme.md-menu-toolbar, md-toolbar.md-menu-toolbar {
  background: none;
}

.md-button {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background-color: rgb(222, 231, 235);
  padding: 0 2em 0 2em;
}

.nav {
  font-size: 30px;
  font-family: 'Abel', sans-serif;
  /* font size is not working. WHY??? */
}

md-menu button {
  padding: 0 20px;
  font: 1em 'Abel', sans-serif;
}

md-content {
  background-color: transparent;
}

.home-form {
  width: 30em;
}

.center {
  margin: 0 auto;
}

.photo-left {
  float: left;
  margin-right: 1em;
}

.margin-top {
  margin-top: 1.6em;
}

.chipsdemoCustomInputs md-content.autocomplete {
  min-height: 200px; }

.chipsdemoCustomInputs input[type=number] {
  width: 110px;
}

.chipsdemoCustomInputs .veggie-option {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 8px;
}

.chipsdemoCustomInputs .veggie-option .md-item-text {
  padding: 8px;
  background: #f0f0f0;
  border-radius: 3px;
}

.chipsdemoCustomInputs .veggie-option .md-item-text h3,
.chipsdemoCustomInputs .veggie-option .md-item-text p {
  padding: 0;
  margin: 0;
}

.smallCard {
  width: 23em;
  display: inline-block;
}

.dropdown-style {
  background-color: #ffffff;
}

/* for larger than handhelds */
@media (min-width: 450px) {
  #footer {
    height: 4em;
  }
}
